[graph]
all-features = true

[advisories]
version = 2
ignore = []

[licenses]
version = 2
allow = [
    "MIT",
    "Apache-2.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "ISC",
    "Unicode-3.0",
    "MPL-2.0",
]
confidence-threshold = 0.8

[[licenses.exceptions]]
crate = "tun"
allow = ["WTFPL"]

[[licenses.exceptions]]
crate = "webpki-roots"
allow = ["CDLA-Permissive-2.0"]

[[licenses.exceptions]]
crate = "webpki-root-certs"
allow = ["CDLA-Permissive-2.0"]

[[licenses.exceptions]]
crate = "xxhash-rust"
allow = ["BSL-1.0"]

[bans]
multiple-versions = "warn"
wildcards = "warn"
highlight = "all"

[sources]
unknown-registry = "deny"
unknown-git = "warn"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
